<%= form_for @car do |f| %>
    <div>
        Make: <%= f.text_field :make %>
    </div>
    <div>
        Model: <%= f.text_field :model %>
    </div>
    <div>
        Year: <%= f.text_field :year %>
    </div>
    <div>
        Price: <%= f.text_field :price %>
    </div>
    <div>
        Category: <%= f.select 'category_id', options_for_select(@categories) %>
    </div>
    <div>
        <%= f.submit %>
    </div>
     

<% end %>